.Home{
    
    background-size: cover;
	min-height: 667px;
    background-color: #02A9DE;
}
.des-text, .submit-title-text, .submit-btn{
    padding: 10px;
}
.submit-btn button{
    height:40px;
    width: 90%;
    border-radius: 25px;
    border: 1px solid rgba(32,116,240,0.5);
    background-color: rgba(32,116,240,0.5);
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}
.submit-btn button:hover{
    background-color: rgb(32,116,240);
}
#submit-btn1{
    display: none;
}
#submit-btn2{
    display: block;
}
@media screen and (min-width: 599px) {
    #submit-btn1{
        display:block;
    }
    #submit-btn2{
        display: none;
    }
}